name: Generate Snake

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo content
      uses: actions/checkout@v3

    - name: Generate snake.svg
      uses: Platane/snk@v3
      with:
        github_user_name: Rextt1122
        outputs: |
          dist/snake.svg

    - name: Push snake.svg to output branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: output
        publish_dir: dist
